@import '../vars.css';

.each-slide-effect>div {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
}
.each-slide-effect>div>div {
    padding: 10% 10%;
}
.each-slide-effect p {
    text-transform: uppercase;
}
.each-slide-effect h2 {
    text-transform: capitalize;
    font-size: 40px;
}
.each-slide-effect button:nth-child(2) {
    margin-top: 5%;
    margin-left: 1%;
    text-transform: uppercase;
    border-radius: 15px;
    border-width: 0px;
    color: white;
    font-size: 16px;
}
.more {
    background-color: var(--theme-pink);
    padding: 8px;
}