:root {
    --all-padding: 12%;
    --theme-black: #181818;
    --theme-green: #58c7c3;
    --theme-hover-green: #479d9a;
    --theme-pink: #e44183;
    --theme-bg-green: #e0fffe;
    --theme-orange: #d1cc2a;
    --theme-dark-green: #2e5951;
}